[flake8]
max-line-length = 120
# ignore block comment error
# ignore no newline at end of file comment
# ignore expected 1 blank line found 0, expected 2 blank lines found 1
# ignore = E265, W292, E301, E302

