version: '3.9'

services:
  django:
    image: django-docker:0.0.1
    container_name: django
    build: .
    entrypoint: ["/bin/sh","-c"]
    command:
      - |
        python manage.py wait_for_db
        python manage.py migrate
        python manage.py loaddata datadump.json
        python manage.py runserver 0.0.0.0:8000
    environment:
      - DB_HOST=db
      - DB_NAME=test
      - DB_USER=postgres
      - DB_PASSWORD=0000
    ports:
      - "8000:8000"
    depends_on:
      - db
  db: 
    image: postgres
    container_name: postgres
    restart: always
    ports:
      - '5433:5432' # makes this accessible from your development environment
    environment:
    - POSTGRES_DB=test
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=0000
    volumes:
      - dbdata:/var/lib/postgresql/data/
volumes:
  dbdata:
  